

/* 引入字體（外部資源通常放在最上面） */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* 引入字體（外部資源通常放在最上面） */

/* 設定共通版型：標籤基本樣式 */

*,*::before,*::after{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
    /* 清除圖片下方 2-3 公分的空白 */
}

a{
    color: var(--primary-400);
    text-underline-offset: 4px;
    /* 文字下底線偏移 */
    display: block;
    /* 因為都獨立一行，所以設定區塊元素 */
}

/* 通用樣式：標籤基本樣式 */

/* 通用樣式：文字 - 字體、行高、字級、字重、字距 */

body{
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
    /* 觀察大部分內文行高，其他再自己 class */
    letter-spacing: 0.05em;
    color: var(--neutral-900);
}

h1{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
}

h3{
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
}

h4{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
}

h5{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

.text-sm{
    font-size: 14px;
    font-weight: 400;
}

.text-white{
    color: var(--neutral-0);
}

.text-neutral-600{
    color: var(--neutral-600);
}

.text-primary-400{
    color: var(--primary-400);
}

.bg-primary-100{
    background: var( --primary-100);
}

.bg-neutral-100{
    background: var( --neutral-100);
}

/* 通用樣式：文字 - 字體、行高、字級、字重、字距 */

/* 通用樣式：顏色（使用變數，好處是網站主色更換時，可從變數直接改，然後就全都改；不用每個都套用） */

:root{
    /* 主色 */
    --primary-400: #57A203;
    --primary-100: #F5FEE7;
    /* 中性色 */
    --neutral-0: #ffffff;
    --neutral-100: #F8F9FA;
    --neutral-300: #DEE2E6;
    --neutral-600: #6C757D;
    --neutral-900: #212529;
}

/* 通用樣式：顏色（使用變數，好處是網站主色更換時，可從變數直接改，然後就全都改；不用每個都套用） */

/* 通用樣式：間距 */

.pb48{
    /* 觀察內部元素到區塊距離 */
    padding-bottom: 48px;
}

.pr8{
    padding-right: 8px;
}

.py8{
    padding-top: 8px;
    padding-bottom: 8px;
}

.py64{
    padding-top: 64px;
    padding-bottom: 64px;
}

.p32{
    padding: 32px;
}

.mb4{
    margin-bottom: 4px;
}

.mb12{
    margin-bottom: 12px;
}

.mb16{
    margin-bottom: 16px;
}

.mb24{
    margin-bottom: 24px;
}

.mb48{
    /* 觀察每塊群組間距 */
    margin-bottom: 48px;
}

/* 通用樣式：間距 */

/* 通用樣式：容器 */

.containet{
    width: 866px;
    margin: 0 auto;
}

/* 通用樣式：容器 */

/* page */

.header{
    background-image: url(/img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* 背景圖填滿整個區塊 */
    background-position: center;
    padding: 152px 0;
    text-align: center;
}

.quote{
    border-radius: 12px;
    text-align: center;
}

.intro img{
    max-width: 1076px;
    margin-left: -110px;
    margin-right: -110px;
}

.section-line{
    border-bottom: 1px solid var(--neutral-300);
}

.history-desc{
    border-left: 1px solid var(--neutral-900);
    padding-left: 8px;
}

.history-list{
    list-style-type: disc;
    padding-left: 24px;
}

.concept-item{
    padding-left: 12px;
    border-left: 3px solid var(--neutral-300);
}

.bi{
    padding-right: 8px;
    vertical-align: bottom;
}

.footer{
    text-align: center;
}